<html>
    <head>
        <meta charset="UTF-8" />
        <title>Factories</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/site.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <script data-main="/static/scripts/index.js" src="/static/scripts/require.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">root</span>
                </div>
                <div class="panel-body">
                    <!-- ko if: empty -->
                    <div data-bind="if: empty">
                        Click the "<span class="fa fa-plus"></span>" to add a new factory!
                    </div>
                    <!-- /ko -->
                    <div id="factories" class="hide" data-bind="foreach: factories">
                        <div class="factory">
                            <!-- ko if: is_edit -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title" data-bind="if: id">Edit Factory</div>
                                    <div class="panel-title" data-bind="ifnot: id">New Factory</div>
                                </div>
                                <div class="panel-body" data-bind="with: editable">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group" data-bind="css: { 'has-error': has_name_error }">
                                                <label class="control-label" data-bind="attr: { 'for': function() { return 'name-' + $data.id(); } }">Name</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    data-bind="value: name,
                                                            attr: { id: function() { return 'name-' + $data.id(); } }" />
                                                <small class="help-block" data-bind="visible: has_name_error">The factory must have a name.</small>
                                            </div>
                                            <div class="form-group">
                                                <label data-bind="attr: { 'for': function() { return 'num-children-' + $data.id(); } }">Number of children</label>
                                                <select
                                                    class="form-control"
                                                    data-bind="options: $parents[1].children_range.bind($parents[1]),
                                                            value: num_children,
                                                            attr: { id: function() { return 'num-children-' + $data.id(); } }"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Range of children</label>
                                            <div class="form-group row" data-bind="css: { 'has-error': has_range_error }">
                                                <label class="col-xs-2 col-form-label control-label" data-bind="attr: { 'for': function() { return 'lower-' + $data.id(); } }">From</label>
                                                <div class="col-xs-10">
                                                    <div data-bind="attr: { 'id': function() { return 'lower-' + $data.id(); } }">
                                                        <input type="text" class="form-control" data-bind="value: lower_range" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row" data-bind="css: { 'has-error': has_range_error }">
                                                <label class="col-xs-2 col-form-label control-label" data-bind="attr: { 'for': function() { return 'upper-' + $data.id(); } }">To</label>
                                                <div class="col-xs-10">
                                                    <div data-bind="attr: { 'id': function() { return 'upper-' + $data.id(); } }">
                                                        <input type="text" class="form-control" data-bind="value: upper_range" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-offset-2 col-xs-10" data-bind="css: { 'has-error': has_range_error }">
                                                    <small class="help-block" data-bind="visible: has_range_error">The 'From' number must be less than or equal to the 'To' number.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div>
                                        <button class="btn btn-primary" data-bind="click: $parent.save_changes.bind($parent, $data)">Save</button>
                                        <button class="btn btn-default" data-bind="click: $parent.cancel_changes.bind($parent, $data)">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: is_edit -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title" data-bind="text: name"></span>
                                    <span class="badge pull-right">
                                        <span class="range lower-range" data-bind="text: lower_range"></span>
                                        :
                                        <span class="range upper-range" data-bind="text: upper_range"></span>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="children">
                                        <!-- ko foreach: children -->
                                        <div class="child" data-bind="text: $data"></div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default fa fa-refresh" data-bind="click: $parent.refresh.bind($parent, $data)"></button>
                                    <button class="btn btn-default fa fa-edit" data-bind="click: edit"></button>
                                    <button class="btn btn-danger fa fa-trash-o" data-bind="click: $parent.delete.bind($parent, $data)"></button>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default fa fa-plus disable" id="add_factory" data-bind="click: add_factory"></button>
                </div>
            </div>
        </div>
        <!-- Refresh Modal -->
        <div class="modal fade" id="refresh-modal" tabindex="-1" role="dialog" aria-labelledby="refresh-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="refresh-modal-title">Are you sure?</h5>
                    </div>
                    <div class="modal-body">
                        Once a factory's children are refreshed, you cannot bring back the old children. Are you sure you want to refresh this factory's children?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="refresh-cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" id="refresh-button" class="btn btn-primary">Refresh factory</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="delete-modal-title">Are you sure?</h5>
                    </div>
                    <div class="modal-body">
                        Once a factory is deleted, it's not possible to bring it back. Are you sure you want to delete this factory?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="delete-cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" id="delete-button" class="btn btn-danger">Delete factory</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Modal -->
        <div class="modal fade" id="pending-modal" tabindex="-1" role="dialog" aria-labelledby="pending-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="pending-modal-title">Pending Changes</h5>
                    </div>
                    <div class="modal-body">
                        Someone else was making changes to this factory while you were making changes. Their changes will now be applied.
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="pending-button" class="btn btn-primary">Apply Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="templates">
            <div id="max_children"><%= max_children %></div>
        </div>
    </body>
</html>