.templates {
    display: none;
}

.factory {
    padding-left: 15px;
}

.children {
    padding-left: 15px;
}

.root {
    width: 100%;
    height: 40px;
}

.root .main {
    position: absolute;
    transform: translate(0, 50%);
}